In [16]:
import pandas as pd
import numpy as np

### So far, there are only two useful features: month and passenger_number. The latter is also the variable being predicted, i.e. the target variable.

In [31]:
# load interim data set
data_set = pd.read_csv('../data/interim/international-airline-passengers.csv')
data_set

    year_month  passenger_number  month
0      1949-01             112.0      1
1      1949-02             118.0      2
2      1949-03             132.0      3
3      1949-04             129.0      4
4      1949-05             121.0      5
..         ...               ...    ...
139    1960-08             606.0      8
140    1960-09             508.0      9
141    1960-10             461.0     10
142    1960-11             390.0     11
143    1960-12             432.0     12

[144 rows x 3 columns]

# 1. Feature: passenger_number shifted by 1 month

In [32]:
data_set["previous_passenger_number"] = data_set["passenger_number"].shift(1)
data_set = data_set[1:]
data_set

    year_month  passenger_number  month  previous_passenger_number
1      1949-02             118.0      2                      112.0
2      1949-03             132.0      3                      118.0
3      1949-04             129.0      4                      132.0
4      1949-05             121.0      5                      129.0
5      1949-06             135.0      6                      121.0
..         ...               ...    ...                        ...
139    1960-08             606.0      8                      622.0
140    1960-09             508.0      9                      606.0
141    1960-10             461.0     10                      508.0
142    1960-11             390.0     11                      461.0
143    1960-12             432.0     12                      390.0

[143 rows x 4 columns]

# 2. Drop year_month since it is not relevant for modeling

In [33]:
final_data_set = data_set.drop(["year_month"], axis=1)
final_data_set

     passenger_number  month  previous_passenger_number
1               118.0      2                      112.0
2               132.0      3                      118.0
3               129.0      4                      132.0
4               121.0      5                      129.0
5               135.0      6                      121.0
..                ...    ...                        ...
139             606.0      8                      622.0
140             508.0      9                      606.0
141             461.0     10                      508.0
142             390.0     11                      461.0
143             432.0     12                      390.0

[143 rows x 3 columns]

In [35]:
with open('../data/processed/international-airline-passengers.csv', 'w') as outfile:
    final_data_set.to_csv(outfile, header=True, index=False)